node_modules/
.DS_Store
.idea
package-lock.json
dist/
Logs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
yarn.lock
yarn-error.log
.editorconfig
.gitignore
.prettierignore
.prettierrc.json
README.md
LICENSE
