node_modules/
.DS_Store
.idea
package-lock.json
dist/
Logs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.env
yarn.lock
yarn-error.log
